<h1 class="page-header main">Customers</h1>
<div class="col-md-3 main">            
  <p class="lead">Add New Customers</p>

  <form role="form" name="myForm" novalidate>
    <div class="form-group">
      <label>CustomerName:</label>
      <input type="text" name="name" class="form-control" id="name" ng-model="name" ng-minlength="3" ng-maxlength="40"required>
      <p style="color:red" ng-show="myForm.name.$error.minlength">Customer Name is too short.</p>
      <p style="color:red" ng-show="myForm.name.$error.maxlength">Customer Name is too long.</p>
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input type="email" name="email" class="form-control" id="email" ng-model="email" required>
      <p style="color:red" ng-show="myForm.email.$error.email">Invalid email address.</p>
      <!--span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
        <span ng-show="myForm.email.$error.required">Email is required.</span>
        <span ng-show="myForm.email.$error.email">Invalid email address.</span>
      </span-->
    </div>              

    <div class="form-group">
      <label>TelephoneNumber:</label>
      <input type="string" name="telephoneNo" class="form-control" id="telephoneNo" ng-model="telephoneNo" required>
    </div>
    <button type="Submit" class="btn btn-primary" ng-click="addCustomer()" ng-disabled="myForm.$invalid">AddCustomer</button>
  </form>
</div>

<div class="col-md-9 main">
  <p class="lead">Newly Added Customers</p>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>CustomerName</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>Delete</th>
        </tr>                  
      </thead>
      <tbody>                  
        <tr ng-repeat="i in newCustomers">
          <td>{{$index + 1}}</td>
          <td>{{i.name}}</td>
          <td>{{i.email}}</td>
          <td>{{i.telephoneNo}}</td>
          <td>
            <p><button class="btn btn-danger btn-xs " ng-click="deleteCustomer(i)"><span class="glyphicon glyphicon-trash"></span></button></p>
          </td>
        </tr>              
      </tbody>
    </table>
  </div> 
  <button type="Submit" class="btn btn-primary" ng-click="updateCustomers()" ng-disabled="!checkValidity()">Add New Customers</button>
</div> 