<h1 class="page-header main">Customers</h1>
<div class="col-md-12 main">            
  <p class="lead">Listed below are all the Existing Customers</p>
  <div style="padding:20px 0px 60px 0px">
    <span class="col-md-1" style="font-weight:bold">Search</span>
    <span class="col-md-3">
      <input type="text" class="form-control" ng-model="searchKeyword"/>
    </span>
    
    <button type="button" class="btn btn-danger" ng-click="revertCustomers()" ng-disabled="!checkValidity()">Revert</button>
    <button type="Submit" class="btn btn-primary" ng-click="updateCustomers()" ng-disabled="!checkValidity()">Save changes</button>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>
            <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
              CustomerName
              <span ng-show="sortType == 'name' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'name' && sortReverse" class="caret"></span>
            </a>
          </th>
          <th>
            <a ng-click="sortType = 'email'; sortReverse = !sortReverse">
              Email
              <span ng-show="sortType == 'email' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'email' && sortReverse" class="caret"></span>
            </a>
          </th>
          <th>
            <a ng-click="sortType = 'telephoneNo'; sortReverse = !sortReverse">
              Telephone
              <span ng-show="sortType == 'telephoneNo' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'telephoneNo' && sortReverse" class="caret"></span>
            </a>
          </th>                    
          <th>
            <a ng-click="sortType = 'createdDate'; sortReverse = !sortReverse">
              CreatedDate
              <span ng-show="sortType == 'createdDate' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'createdDate' && sortReverse" class="caret"></span>
            </a>
          </th>
          <th>
            <a ng-click="sortType = 'updatedDate'; sortReverse = !sortReverse">
              UpdatedDate
              <span ng-show="sortType == 'updatedDate' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'updatedDate' && sortReverse" class="caret"></span>
            </a>
          </th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>                  
      </thead>
      <tbody>                  
        <tr ng-repeat="i in customers | orderBy:sortType:sortReverse | filter: actionFilter | filter: searchKeyword">
          <td>{{$index + 1}}</td>
          <td>{{i.name}}</td>
          <td>{{i.email}}</td>
          <td>{{i.telephoneNo}}</td>
          <td>{{i.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{i.updatedDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>
            <p><button class="btn btn-primary btn-xs" ng-click="editCustomerOpen(i)"><span class="glyphicon glyphicon-pencil"></span></button></p>
          </td>
          <td>
            <p><button class="btn btn-danger btn-xs " ng-click="deleteCustomer(i)"><span class="glyphicon glyphicon-trash"></span></button></p>
          </td>
        </tr>              
      </tbody>
    </table>
  </div> 
  <!-- Modal Edit Customer start -->
  <script type="text/ng-template" id="editCustomersModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit Customer Details For Customer: {{name}}</h3>
        </div>
        <div class="modal-body">
          <form role="form" name="myForm" novalidate>
            <div class="form-group">
              <label>Email:</label>
              <input type="email" name="email" class="form-control" id="email" ng-model="email" required>
              <p style="color:red" ng-show="myForm.email.$error.email">Invalid email address.</p>
            </div>
            <div class="form-group">
              <label>TelephoneNumber:</label>
              <input type="string" name="telephoneNo" class="form-control" id="telephoneNo" ng-model="telephoneNo" required>
            </div>
          </form>
        </div>       
        <div class="modal-footer">
          <button type="button" ng-click="cancel()">Close</button>
          <button type="Submit" class="btn btn-primary" ng-click="editCustomer()" ng-disabled="myForm.$invalid || myForm.$pristine">Save changes</button>
        </div>           
  </script>
  <!-- Modal Edit Customer End -->           
</div>