<h1 class="page-header main">User Management</h1>
<div class="col-md-8 main">            
  <p class="lead">Add New User Credentials: Enter username and password</p>

  <form role="form" name="myForm" class="col-md-8 main" novalidate>
    <div class="form-group">
      <label>UserName:</label>
      <input type="text" name="username" class="form-control" id="username" ng-model="username" ng-minlength="3" ng-maxlength="20"required>
      <p style="color:red" ng-show="myForm.username.$error.minlength">UserName is too short.</p>
      <p style="color:red" ng-show="myForm.username.$error.maxlength">UserName is too long.</p>
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="password" name="password" class="form-control" id="password" ng-model="password" required>
    </div>

    <div class="form-group">
      <label>Role:</label>

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="rolesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required>
          {{selectedRole}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu scrollable-menu" aria-labelledby="rolesMenu">
          <li ng-repeat="role in roles"><a ng-click="dropdownRoleSelected(role)" required>{{role}}</a></li>
        </ul>
      </div>
    </div>                     

    <button type="Submit" class="btn btn-primary" ng-click="addUser()" ng-disabled="myForm.$invalid || !selectedRole">AddUser</button>
  </form>
</div>