<h1 class="page-header main">User Management</h1>
<div class="col-md-12 main">            
  <p class="lead">Listed below are all the Existing Users.</p>

  <div style="padding:20px 0px 60px 0px">
    <span class="col-md-1" style="font-weight:bold">Search</span>
    <span class="col-md-3">
      <input type="text" class="form-control" ng-model="searchKeyword"/>
    </span>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>
            <a ng-click="sortType = 'username'; sortReverse = !sortReverse">
              UserName
              <span ng-show="sortType == 'username' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'username' && sortReverse" class="caret"></span>
            </a>
          </th>
          <th>
            <a ng-click="sortType = 'role'; sortReverse = !sortReverse">
              Role
              <span ng-show="sortType == 'role' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'role' && sortReverse" class="caret"></span>
            </a>
          </th>
          <th>
            <a ng-click="sortType = 'createdDate'; sortReverse = !sortReverse">
              CreatedDate
              <span ng-show="sortType == 'createdDate' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'createdDate' && sortReverse" class="caret"></span>
            </a>
          </th>
          <th>
            <a ng-click="sortType = 'updatedDate'; sortReverse = !sortReverse">
              UpdatedDate
              <span ng-show="sortType == 'updatedDate' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'updatedDate' && sortReverse" class="caret"></span>
            </a>
          </th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>                  
      </thead>
      <tbody ng-repeat="i in users | filter: actionFilter | filter: searchKeyword" >                  
        <tr>
          <td>{{$index + 1}}</td>
          <td>{{i.username}}</td>
          <td>{{i.role}}</td>
          <td>{{i.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{i.updatedDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>
            <p><button class="btn btn-primary btn-xs" ng-click="editUserOpen(i)"><span class="glyphicon glyphicon-pencil"></span></button></p>
          </td>
          <td>
            <p><button class="btn btn-danger btn-xs " ng-click="deleteUser(i)"><span class="glyphicon glyphicon-trash"></span></button></p>
          </td>
        </tr>              
      </tbody>
    </table>
  </div>            
</div>
<!-- Modal Item Edit start -->
<script type="text/ng-template" id="editUsersModal.html">
      <div class="modal-header">
          <h3 class="modal-title">Edit Item Details</h3>
      </div>
      <div class="modal-body">
        <form role="form" name="myForm" novalidate>
          <div class="form-group">
            <label>Username:</label>
            <span type="text" class=" form-control" id="username" ng-model="username" required>{{username}}</span>
          </div>
          <div class="form-group">
            <label>New Password:</label>
            <input type="password" name="password" class="form-control" id="password" ng-model="password" required>
          </div>
          <div class="form-group">
            <label>Role:</label>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="rolesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required>
                {{selectedRole}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu scrollable-menu" aria-labelledby="rolesMenu">
                <li ng-repeat="role in roles"><a ng-click="dropdownRoleSelected(role)" required>{{role}}</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>       
      <div class="modal-footer">
        <button type="button" ng-click="cancel()">Close</button>
        <button type="Submit" class="btn btn-primary" ng-click="editUser()" ng-disabled="myForm.$invalid || myForm.$pristine">Save changes</button>
      </div>           
</script>