<h1 class="page-header main">Invoices</h1>
<div class="col-md-12 main">   


  <div class="row">
    <span class="col-md-3">
        <input type="text" class="form-control" placeholder="Search Invoices ..." ng-model="searchKeyword"/>
    </span>          
  </div>
  <br>
  <br>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>
            <a ng-click="sortType = 'invoiceName'; sortReverse = !sortReverse">
              InvoiceName
              <span ng-show="sortType == 'invoiceName' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'invoiceName' && sortReverse" class="caret"></span>
            </a>
          </th>
          <th>
            <a ng-click="sortType = 'invoiceNumber'; sortReverse = !sortReverse">
              InvoiceNumber
              <span ng-show="sortType == 'invoiceNumber' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'invoiceNumber' && sortReverse" class="caret"></span>
            </a>
          </th> 
          <th>
            <a ng-click="sortType = 'subTotal'; sortReverse = !sortReverse">
              SubTotal
              <span ng-show="sortType == 'subTotal' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'subTotal' && sortReverse" class="caret"></span>
            </a>
          </th> 
          <th>
            <a ng-click="sortType = 'shipping'; sortReverse = !sortReverse">
              Shipping
              <span ng-show="sortType == 'shipping' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'shipping' && sortReverse" class="caret"></span>
            </a>
          </th>
          <th>
            <a ng-click="sortType = 'packing'; sortReverse = !sortReverse">
              Packing
              <span ng-show="sortType == 'packing' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'packing' && sortReverse" class="caret"></span>
            </a>
          </th>
          <th>
            <a ng-click="sortType = 'grandTotal'; sortReverse = !sortReverse">
              GrandTotal
              <span ng-show="sortType == 'grandTotal' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'grandTotal' && sortReverse" class="caret"></span>
            </a>
          </th>
          <th>
            <a ng-click="sortType = 'invoiceDate'; sortReverse = !sortReverse">
              InvoiceDate
              <span ng-show="sortType == 'invoiceDate' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'invoiceDate' && sortReverse" class="caret"></span>
            </a>
          </th>                    
          <th>
            <a ng-click="sortType = 'createdDate'; sortReverse = !sortReverse">
              CreatedDate
              <span ng-show="sortType == 'createdDate' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'createdDate' && sortReverse" class="caret"></span>
            </a>
          </th>
          <th>
            <a ng-click="sortType = 'updatedDate'; sortReverse = !sortReverse">
              UpdatedDate
              <span ng-show="sortType == 'updatedDate' && !sortReverse" class="dropup"><span class="caret"></span></span>
              <span ng-show="sortType == 'updatedDate' && sortReverse" class="caret"></span>
            </a>
          </th>
        </tr>                  
      </thead>
      <tbody>                  
        <tr ng-repeat="i in invoices | orderBy:sortType:sortReverse | filter: searchKeyword | limitTo:itemsPerPage:(currentPage - 1) * itemsPerPage" ng-click="open(i)" >
          <td>{{$index + 1}}</td>
          <td>{{i.invoiceName}}</td>
          <td>{{i.invoiceNumber}}</td>
          <td>{{i.subTotal | currency:"&#8377;"}}</td>
          <td>{{i.shipping | currency:"&#8377;"}}</td>
          <td>{{i.packing | currency:"&#8377;"}}</td>
          <td>{{i.grandTotal | currency:"&#8377;"}}</td>
          <td>{{i.invoiceDate | date:'dd/MM/yyyy'}}</td>
          <td>{{i.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{i.updatedDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>                    
        </tr>              
      </tbody>
    </table>
  </div>  

  <uib-pagination total-items="(invoices | orderBy:sortType:sortReverse | filter: searchKeyword).length" items-per-page="itemsPerPage" max-size="maxSize" ng-model="currentPage" boundary-links="true"></uib-pagination>
  <div class="form-inline form-group">
    <label>PageSize</label>
    <input style="width:80px;" type="number" ng-model="itemsPerPage" class="form-control" min="1" step="1">
    <label>Total Records</label>
    <input ng-disabled="true" style="width:80px;" type="text" class="form-control" ng-model="invoices.length">
  </div>





</div>
  <!-- Modal InvoiceItems start -->
  <script type="text/ng-template" id="invoiceItemsModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Invoice Items: {{invoice.invoiceName}}</h3>
        </div>
        <div class="modal-body">
            <div style="padding:10px 0px 10px 0px">
              <span class="col-md-3">
                <input type="text" class="form-control" ng-model="searchKeyword"/>
              </span>
              
              <!--button type="button" class="btn btn-danger" ng-click="revertInvoiceItems()" ng-disabled="!checkValidity()">Revert</button>
              <button type="Submit" class="btn btn-primary" ng-click="updateInvoice()" ng-disabled="!checkValidity()">Update Invoice</button-->
              <button type="Submit" class="btn btn-primary" ng-click="deleteInvoice()" ng-disabled="checkValidity()">Delete Invoice</button>
            </div> 

            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>ItemName</th>
                    <th>Barcode</th>
                    <th>Quantity</th>
                    <th>PurchasePrice</th>
                    <th>Total</th>
                    <!--th>Delete</th-->
                  </tr>                  
                </thead>
                <tbody>                  
                  <tr ng-repeat="i in invoiceItems | filter: searchKeyword | filter: actionFilter">
                    <td>{{$index + 1}}</td>
                    <td>{{i.itemName}}</td>
                    <td>{{i.barcode}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.purchasePrice | currency:"&#8377;"}}</td>
                    <td>{{i.total | currency:"&#8377;"}}</td>
                    <!--td>
                      <p><button class="btn btn-danger btn-xs " ng-click="deleteInvoiceItem(i)"><span class="glyphicon glyphicon-trash"></span></button></p>
                    </td-->                              
                  </tr>              
                </tbody>
              </table>
            </div> 
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
  </script>
<!-- Modal InvoiceItems End -->
        