<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TempletreeBillingSystem</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="../../js/lib/jquery-2.1.4.min.js"></script>
    <script src="../../js/lib/angular-1.4.6.min.js"></script>
    <script src="../../js/lib/ui-bootstrap-tpls-0.13.4.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="../../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../js/invoices/invoiceList.js"></script>

    <script src="../../resources/config.js"></script>
    
    <link href="../../css/dashboard.css" rel="stylesheet">  
  </head>
  <body> 
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Templetree</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Items <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../items/addItems.html">AddItems</a></li>
                  <li><a href="../items/uploadItems.html">UploadNewItems</a></li>
                  <li><a href="../items/itemList.html">ItemList</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Invoices <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="uploadInvoices.html">UploadNewInvoices</a></li>
                  <li><a href="invoicesList.html">InvoiceList</a></li>
                </ul>
              </li>  
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BillingSystem <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../billings/addBillingInvoice.html">NewBill</a></li>
                  <li><a href="../billings/billingInvoicesList.html">BillingInvoices</a></li>
                </ul>
              </li>                                                      
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../customers/addCustomers.html">AddCustomers</a></li>
                  <li><a href="../customers/customerList.html">CustomerList</a></li>
                </ul>
              </li>  
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../users/addUsers.html">AddNewUser</a></li>
                  <li><a href="../users/userList.html">UserList</a></li>
                </ul>                
              </li>                          
                         
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="../../dashboard.html">Dashboard</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="../sign_in.html">Login</a></li>
            </ul>
            <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row" ng-app="invoiceList" ng-controller="InvoiceListController">
          <h1 class="page-header main">Invoices</h1>
          <div class="col-md-12 main">            
            <p class="lead">Listed below are all the Existing Invoices.</p>

            <div style="padding:20px 0px 60px 0px">
              <span class="col-md-1" style="font-weight:bold">Search</span>
              <span class="col-md-3">
                <input type="text" class="form-control" ng-model="searchKeyword"/>
              </span>              
            </div>

            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>
                      <a href="#" ng-click="sortType = 'invoiceName'; sortReverse = !sortReverse">
                        InvoiceName
                        <span ng-show="sortType == 'invoiceName' && !sortReverse" class="dropup"><span class="caret"></span></span>
                        <span ng-show="sortType == 'invoiceName' && sortReverse" class="caret"></span>
                      </a>
                    </th>
                    <th>
                      <a href="#" ng-click="sortType = 'invoiceNumber'; sortReverse = !sortReverse">
                        InvoiceNumber
                        <span ng-show="sortType == 'invoiceNumber' && !sortReverse" class="dropup"><span class="caret"></span></span>
                        <span ng-show="sortType == 'invoiceNumber' && sortReverse" class="caret"></span>
                      </a>
                    </th> 
                    <th>
                      <a href="#" ng-click="sortType = 'subTotal'; sortReverse = !sortReverse">
                        SubTotal
                        <span ng-show="sortType == 'subTotal' && !sortReverse" class="dropup"><span class="caret"></span></span>
                        <span ng-show="sortType == 'subTotal' && sortReverse" class="caret"></span>
                      </a>
                    </th> 
                    <th>
                      <a href="#" ng-click="sortType = 'shipping'; sortReverse = !sortReverse">
                        Shipping
                        <span ng-show="sortType == 'shipping' && !sortReverse" class="dropup"><span class="caret"></span></span>
                        <span ng-show="sortType == 'shipping' && sortReverse" class="caret"></span>
                      </a>
                    </th>
                    <th>
                      <a href="#" ng-click="sortType = 'packing'; sortReverse = !sortReverse">
                        Packing
                        <span ng-show="sortType == 'packing' && !sortReverse" class="dropup"><span class="caret"></span></span>
                        <span ng-show="sortType == 'packing' && sortReverse" class="caret"></span>
                      </a>
                    </th>
                    <th>
                      <a href="#" ng-click="sortType = 'grandTotal'; sortReverse = !sortReverse">
                        GrandTotal
                        <span ng-show="sortType == 'grandTotal' && !sortReverse" class="dropup"><span class="caret"></span></span>
                        <span ng-show="sortType == 'grandTotal' && sortReverse" class="caret"></span>
                      </a>
                    </th>
                    <th>
                      <a href="#" ng-click="sortType = 'invoiceDate'; sortReverse = !sortReverse">
                        InvoiceDate
                        <span ng-show="sortType == 'invoiceDate' && !sortReverse" class="dropup"><span class="caret"></span></span>
                        <span ng-show="sortType == 'invoiceDate' && sortReverse" class="caret"></span>
                      </a>
                    </th>                    
                    <th>
                      <a href="#" ng-click="sortType = 'createdDate'; sortReverse = !sortReverse">
                        CreatedDate
                        <span ng-show="sortType == 'createdDate' && !sortReverse" class="dropup"><span class="caret"></span></span>
                        <span ng-show="sortType == 'createdDate' && sortReverse" class="caret"></span>
                      </a>
                    </th>
                    <th>
                      <a href="#" ng-click="sortType = 'updatedDate'; sortReverse = !sortReverse">
                        UpdatedDate
                        <span ng-show="sortType == 'updatedDate' && !sortReverse" class="dropup"><span class="caret"></span></span>
                        <span ng-show="sortType == 'updatedDate' && sortReverse" class="caret"></span>
                      </a>
                    </th>
                  </tr>                  
                </thead>
                <tbody>                  
                  <tr ng-repeat="i in invoices | orderBy:sortType:sortReverse | filter: searchKeyword" ng-click="open(i)" >
                    <td>{{$index + 1}}</td>
                    <td>{{i.invoiceName}}</td>
                    <td>{{i.invoiceNumber}}</td>
                    <td>{{i.subTotal | currency:"&#8377;"}}</td>
                    <td>{{i.shipping | currency:"&#8377;"}}</td>
                    <td>{{i.packing | currency:"&#8377;"}}</td>
                    <td>{{i.grandTotal | currency:"&#8377;"}}</td>
                    <td>{{i.invoiceDate | date:'dd/MM/yyyy'}}</td>
                    <td>{{i.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{i.updatedDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>                    
                  </tr>              
                </tbody>
              </table>
            </div>             
          </div>
            <!-- Modal InvoiceItems start -->
            <script type="text/ng-template" id="invoiceItemsModal.html">
                  <div class="modal-header">
                      <h3 class="modal-title">Invoice Items: {{invoice.invoiceName}}</h3>
                  </div>
                  <div class="modal-body">
                      <div style="padding:10px 0px 10px 0px">
                        <span class="col-md-3">
                          <input type="text" class="form-control" ng-model="searchKeyword"/>
                        </span>
                        
                        <!--button type="button" class="btn btn-danger" ng-click="revertInvoiceItems()" ng-disabled="!checkValidity()">Revert</button>
                        <button type="Submit" class="btn btn-primary" ng-click="updateInvoice()" ng-disabled="!checkValidity()">Update Invoice</button-->
                        <button type="Submit" class="btn btn-primary" ng-click="deleteInvoice()" ng-disabled="checkValidity()">Delete Invoice</button>
                      </div> 

                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>ItemName</th>
                              <th>Barcode</th>
                              <th>Quantity</th>
                              <th>PurchasePrice</th>
                              <th>Total</th>
                              <!--th>Delete</th-->
                            </tr>                  
                          </thead>
                          <tbody>                  
                            <tr ng-repeat="i in invoiceItems | filter: searchKeyword | filter: actionFilter">
                              <td>{{$index + 1}}</td>
                              <td>{{i.itemName}}</td>
                              <td>{{i.barcode}}</td>
                              <td>{{i.quantity}}</td>
                              <td>{{i.purchasePrice | currency:"&#8377;"}}</td>
                              <td>{{i.total | currency:"&#8377;"}}</td>
                              <!--td>
                                <p><button class="btn btn-danger btn-xs " ng-click="deleteInvoiceItem(i)"><span class="glyphicon glyphicon-trash"></span></button></p>
                              </td-->                              
                            </tr>              
                          </tbody>
                        </table>
                      </div> 
                  </div>
                  
                  <div class="modal-footer">
                      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                  </div>
            </script>
          <!-- Modal InvoiceItems End -->
        </div>  
      </div>
  </body>
</html>