
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TempletreeBillingSystem</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="../../js/lib/jquery-2.1.4.min.js"></script>
    <script src="../../js/lib/angular-1.4.6.min.js"></script>
    <script src="../../js/lib/ui-bootstrap-tpls-0.13.4.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="../../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../js/billings/addBillingInvoice.js"></script>

    <script src="../../resources/config.js"></script>
    
    <link href="../../css/dashboard.css" rel="stylesheet">  
  </head>
  <body> 
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Templetree</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Items <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../items/addItems.html">AddItems</a></li>
                  <li><a href="../items/uploadItems.html">UploadNewItems</a></li>
                  <li><a href="../items/itemList.html">ItemList</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Invoices <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../invoices/uploadInvoices.html">UploadNewInvoices</a></li>
                  <li><a href="../invoices/invoicesList.html">InvoiceList</a></li>
                </ul>
              </li> 
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BillingSystem <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="addBillingInvoice.html">NewBill</a></li>
                  <li><a href="billingInvoicesList.html">BillingInvoices</a></li>
                </ul>
              </li>                                                       
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../customers/addCustomers.html">AddCustomers</a></li>
                  <li><a href="../customers/customerList.html">CustomerList</a></li>
                </ul>
              </li>              
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="../../dashboard.html">Dashboard</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="../sign_in.html">Login</a></li>
            </ul>
            <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row" ng-app="addBilling" ng-controller="AddBillingController">
          <h1 class="page-header main">Billing Invoice</h1>
          <div class="col-md-3 main">            
            <p class="lead">Add New Items</p>

            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="itemsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Item: {{selectedItem.itemName}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu scrollable-menu" aria-labelledby="itemsMenu">
                <li ng-repeat="item in items"><a ng-click="dropdownItemSelected(item)">{{item.itemName}}</a></li>
              </ul>
            </div>

            <form role="form">
              <div class="form-group">
                <label>Barcode:</label>
                <span type="text" class=" form-control" id="barcode" ng-model="barcode">{{selectedItem.barcode}}</span>
              </div>
              <div class="form-group">
                <label>ItemName:</label>
                <span type="text" class=" form-control" id="itemName" ng-model="itemName">{{selectedItem.itemName}}</span>
              </div>
              <div class="form-group">
                <label>MRP:</label>
                <span type="text" class=" form-control" id="purchasePrice" ng-model="purchasePrice">{{selectedItem.purchasePrice}}</span>
              </div>
              <div class="form-group">
                <label>Quantity:</label>
                <input type="text" class="form-control" id="quantity" ng-model="quantity" required>
              </div>
              <div class="form-group">
                <label>Total:</label>
                <span class="form-control" id="total">{{selectedItem.purchasePrice * quantity}}</span>
              </div>
              <button type="Submit" class="btn btn-primary" ng-click="addItems()">AddItem</button>
            </form>
          </div>


          <div class="col-md-9 main">
            <p class="lead">Purchased Items</p>
            <button type="button" class="btn btn-primary btn-lg" ng-click="selectPaymentTypeOpen()">Select Payment Type</button>
            <button type="button" class="btn btn-default btn-lg" ng-click="addCustomerDetailsOpen()">Add Customer Details</button>         
            

            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Barcode</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>MRP</th>
                    <th>Total</th>
                  </tr>                  
                </thead>
                <tbody>                  
                  <tr ng-repeat="i in billingInvoice.billingInvoicesItemsList | filter: searchKeyword"><td>{{$index + 1}}</td><td>{{i.barcode}}</td><td>{{i.itemName}}</td><td>{{i.quantity}}</td><td>{{i.purchasePrice | currency}}</td><td>{{i.total | currency}}</td>
                  </tr>                          
                </tbody>
              </table>
            </div>
            <div style="font-size:24px; display:inline-block" class="col-md-4 main" id="results">Credit: {{billingInvoice.credit | currency}}</div>
            <div style="font-size:24px; display:inline-block" class="col-md-4  main" id="results">Cash: {{billingInvoice.cash | currency}}</div>
            <div style="font-size:24px; display:inline-block" class="col-md-4 main" id="results">Total: {{billingInvoice.totalAmount | currency}}</div>
            
            <button type="button" class="btn btn-lg btn-primary col-md-offset-9" ng-click="createBillingInvoice()">Bill Invoice</button>            
          </div>


            <!-- Select Payment Type Modal start -->
            <script type="text/ng-template" id="selectPaymentTypeModal.html">
                  <div class="modal-header">
                      <h3 class="modal-title">How would you like to Pay?</h3>
                  </div>
                  <h4 class="modal-title">Total Amount: {{billingInvoice.totalAmount}}</h4>
                  <div class="modal-body">
                    <form role="form">
                      <div class="form-group">
                        <label>Cash:</label>
                        <input type="text" class="form-control" id="cash" ng-model="cash">
                      </div>
                      <div class="form-group">
                        <label>Credit:</label>
                        <input type="text" class="form-control" id="credit" ng-model="credit">
                      </div>
                    </form>
                  </div>       

                  <div class="modal-footer">
                    <button type="button" ng-click="cancel()">Close</button>
                    <button type="Submit" class="btn btn-primary" ng-click="addPaymentType()">Add Payment Type</button>
                  </div>           

            </script>
          <!-- Select Payment Type Modal End -->

          <!-- Add Customer Details Modal start -->
            <script type="text/ng-template" id="addCustomerDetailsModal.html">
                  <div class="modal-header">
                      <h3 class="modal-title">Add Customer Details</h3>
                  </div>
                  <div class="modal-body">
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="customersMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Customer: {{selectedCustomer.name}}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu scrollable-menu" aria-labelledby="customersMenu">
                        <li ng-repeat="customer in customers"><a ng-click="dropdownCustomerSelected(customer)">{{customer.name}}</a></li>
                      </ul>
                    </div>

                    <form role="form">
                      <div class="form-group">
                        <label>Customer Name:</label>
                        <span type="text" class=" form-control" id="name" ng-model="name">{{selectedCustomer.name}}</span>
                      </div>
                      <div class="form-group">
                        <label>Customer Email:</label>
                        <span type="text" class=" form-control" id="email" ng-model="email">{{selectedCustomer.email}}</span>
                      </div>
                      <div class="form-group">
                        <label>Telephone Number</label>
                        <span type="text" class=" form-control" id="telephoneNo" ng-model="purchasePrice">{{selectedCustomer.telephoneNo}}</span>
                      </div>
                    </form>
                  </div>                      
                  <div class="modal-footer">
                    <button type="button" ng-click="cancel()">Close</button>
                    <button type="Submit" class="btn btn-primary" ng-click="addCustomer()">Add Customer Details</button>
                  </div>       
            </script>
          <!-- Add Customer Info Modal End -->





        </div>  
      </div>
  </body>
</html>